---
interface Props {
  title: string;
  stats: { value: string; label: string }[];
}

const { title, stats } = Astro.props;
---

<section class="my-10 py-10 bg-green-100 text-center rounded-lg shadow-inner">
  <h2 class="text-3xl font-bold mb-8 text-green-800">{title}</h2>
  <div class="grid grid-cols-1 md:grid-cols-3 gap-8 px-4">
    {
      stats.map((stat) => (
        <div class="p-4">
          <p class="text-5xl font-extrabold text-green-600 mb-2">
            {stat.value}
          </p>
          <p class="text-lg text-gray-700">{stat.label}</p>
        </div>
      ))
    }
  </div>
</section>
